.glossaryAudioButton:hover {
    background-position: -32px -67px;
}
.resources-on:hover {background-position: -90px -90px;}
.depth1-expandedResource:hover{background: #d7edf1;}
.depth1-expandableResource:hover {
       background: #d7edf1;color:#575a5a !important;
}
.indexItemsList:hover{
background:#d7edf1;
}
.resultTitleDiv a:hover {
    color:#0f87c6;
    text-decoration:underline;
}
.alphabet:hover {
    text-align:center;
    cursor:pointer;
    background:#d7edf1;
    color:#383636;
}
.zoom-in:hover{background:url('css/2TO5/images/zoom/Zoom_in_sprite.png') -49px -49px #eceae0 !important;}
.zoom-out:hover{background:url('css/2TO5/images/zoom/Zoom_in_sprite.png') 0 -49px #eceae0 !important;}
.depth2-expandableResource:hover {
    float: left;
    padding: 0px 0px 0px 0px;
    width: 328px;
    height: 53px;
    background-color: #D7D7D7;
    background-image: none;
    background-color: #d7edf1;
    /*border-top: solid 1px #b9b7af;*/
    border-left: 5px solid #8ECDD7;
}

.depth2-nodeContentCont:hover {
    float: left;
    padding: 0px 0px 0px 0px;
    width: 328px;
    height: 53px;
    background-color: #D7D7D7;
    background-image: none;
    background-color: #d7edf1;
    /*border-top: solid 1px #b9b7af;*/
}

.depth2-expandedResource:hover {
    float: left;
    padding: 0px 0px 0px 0px;
    width: 328px;
    height: 53px;
    background: #d7edf1;
    /*border-top: solid 1px #b9b7af;*/
}

.noteLimitPrimaryButton:hover {
    background: #eb524a; /* Old browsers */
    background: -moz-linear-gradient(top,  #eb524a 0%, #f9c9bf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb524a), color-stop(100%,#f9c9bf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eb524a 0%,#f9c9bf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eb524a 0%,#f9c9bf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eb524a 0%,#f9c9bf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eb524a 0%,#f9c9bf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb524a', endColorstr='#f9c9bf',GradientType=0 ); /* IE6-9 */
}

.stickyNoteLauncher-off:hover {
    background-position: -90px -270px;
}

.pageView:hover {
    background-position: -100px -800px;
}
.pageView_DoublePage:hover {
    background-position: -100px -400px;
}
.btnStickyNoteHotspot:hover{
	background-position:-128px -60px;
}


.annotaionEditDiv:hover{
	background-position: -25px 0px;
}

.annotaionDeleteDiv:hover{
	/*background-position: -25px -25px;*/
}

.zoom-on:hover
{
    background-position: -90px -360px;
}
.help:hover {
	background-position: -90px 0px !important;
}

.bookmarkData:hover {background: #d7edf1;}

.bookmarkLauncher-off:hover {
    background-position: -90px -180px;
}

.toc-on:hover
{background-position: -90px 0px;}

.treeview a.hover {
	font-size:12px;
	font-family:Arial;
	border:none;
	color:#333333;
}

.treeview .hover {
	color:red;
	cursor:pointer;
}

.depth1-nodeContentCont:hover {
	float:left;
	padding:0px 0px 0px 0px;
	width:334px;
	height: 63px;
	background-image: none;
	background-color: #d7edf1;
	color:#4e9fb1 !important;
}

.depth2-nodeContentContToggle:hover {
	float:left;
	padding:0px 0px 0px 0px;
	width:328px;
	height: 53px;
	border-top: 1px solid #b5c9cb;
	border-bottom: 1px solid #b5c9cb;
	border-right: 1px solid #b5c9cb;
	background-color: #d7edf1;
}
.depth3-nodeContentCont:hover {
	float:left;
	width:334px;
	background-color: #d7edf1;
	border-right: 1px solid #b5c9cb;
}

.depth4-nodeContentCont:hover {
	float:left;
	width:334px;
	height: 41px;
	background-color:#d7edf1;
	border-right: 1px solid #b5c9cb;
}
.primaryButton:hover {
background: #5bac2c; /* Old browsers */
background: -moz-linear-gradient(top,  #5bac2c 0%, #a4d34f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5bac2c), color-stop(100%,#a4d34f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5bac2c 0%,#a4d34f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5bac2c 0%,#a4d34f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5bac2c 0%,#a4d34f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5bac2c 0%,#a4d34f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bac2c', endColorstr='#a4d34f',GradientType=0 ); /* IE6-9 */
}
.secondaryButton:hover {
background: rgb(190,185,166); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(190,185,166,1) 1%, rgba(239,237,230,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(190,185,166,1)), color-stop(100%,rgba(239,237,230,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(190,185,166,1) 1%,rgba(239,237,230,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(190,185,166,1) 1%,rgba(239,237,230,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(190,185,166,1) 1%,rgba(239,237,230,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(190,185,166,1) 1%,rgba(239,237,230,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beb9a6', endColorstr='#efede6',GradientType=0 ); /* IE6-9 */
}
.deletePrimaryButton:hover{
	background: #eb524a; /* Old browsers */
background: -moz-linear-gradient(top,  #eb524a 0%, #f5aa9a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb524a), color-stop(100%,#f5aa9a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eb524a 0%,#f5aa9a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eb524a 0%,#f5aa9a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eb524a 0%,#f5aa9a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eb524a 0%,#f5aa9a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb524a', endColorstr='#f5aa9a',GradientType=0 ); /* IE6-9 */
}
.tertiaryButton:hover{background: #6f8f82; /* Old browsers */
background: -moz-linear-gradient(top,  #6f8f82 0%, #98bdbb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f8f82), color-stop(100%,#98bdbb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6f8f82 0%,#98bdbb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6f8f82 0%,#98bdbb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6f8f82 0%,#98bdbb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6f8f82 0%,#98bdbb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f8f82', endColorstr='#98bdbb',GradientType=0 ); /* IE6-9 */
}
.myNoteButton:hover{border:1px solid #9ba396 !important;background: #e3e0d5; /* Old browsers */
background: -moz-linear-gradient(top,  #e3e0d5 0%, #dcd6c6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e0d5), color-stop(100%,#dcd6c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e3e0d5 0%,#dcd6c6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e3e0d5 0%,#dcd6c6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e3e0d5 0%,#dcd6c6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e3e0d5 0%,#dcd6c6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e0d5', endColorstr='#dcd6c6',GradientType=0 ); /* IE6-9 */
}
#notes-anno:hover
{
	background-position: -127px -60px;
}
.languageButton:hover{
    background-position:-90px -540px;
}
/** MEDIA HOVER STATE **/
/*
a.jp-play:hover {
    background: url("css/2TO5/images/media/jplayer.blue.monday.jpg") -41px 0 no-repeat;
}
a.jp-pause:hover {
    background: url("css/2TO5/images/media/jplayer.blue.monday.jpg") -41px -42px no-repeat;
}

a.jp-stop:hover {
    background: url("css/2TO5/images/media/jplayer.blue.monday.jpg") -29px -83px no-repeat;
}
a.jp-previous:hover {
    background: url("css/2TO5/images/media/jplayer.blue.monday.jpg") -29px -112px no-repeat;
}
a.jp-next:hover {
    background: url("css/2TO5/images/media/jplayer.blue.monday.jpg") -29px -141px no-repeat;
}
a.jp-mute:hover {
    background: url("css/2TO5/images/media/jplayer.blue.monday.jpg") -19px -170px no-repeat;
}
a.jp-unmute:hover {
    background: url("css/2TO5/images/media/jplayer.blue.monday.jpg") -19px -186px no-repeat;
}
div.jp-type-playlist div.jp-playlist a:hover {
    color: #0d88c1;
}
div.jp-video div.jp-video-play:hover {
    background: transparent url("jplayer.blue.monday.video.play.hover.png") no-repeat center;
}*/
.audioLauncherBtn-off:hover {
    background-image: url("css/2TO5/images/main/NavigationSprite.png") !important;
    background-repeat: no-repeat !important;
    background-position: -90px -450px;
}
.audioLauncherBtn-off.ui-disabled:hover{
	background-image: url("css/2TO5/images/main/NavigationSprite.png") !important;
    background-repeat: no-repeat !important;
    background-position: 0px -450px;
}
.audioPanelButton:hover {
	cursor: pointer;
	background: #7A7B7B;
	background: -moz-linear-gradient(top, #7A7B7B 10%, #1A1A1A 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#7A7B7B), color-stop(100%,#1A1A1A));
	background: -webkit-linear-gradient(top, #7A7B7B 10%,#1A1A1A 100%);
	background: -o-linear-gradient(top, #7A7B7B 10%,#1A1A1A 100%);
	background: -ms-linear-gradient(top, #7A7B7B 10%,#1A1A1A 100%);
	background: linear-gradient(to bottom, #7A7B7B 10%,#1A1A1A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7b7b', endColorstr='#1a1a1a',GradientType=0 );}

#copy-anno:hover{
	background-position: -66px -34px;
}
/*.audioHotspot:hover{
	background-position: -124px 28px;
}*/
.stickynoteTextArea a:hover{
	color: #054fb4;
	text-decoration:none;
}
.annotationData:hover{
background:#d7edf1;
color:#4e9fb1 !important;
cursor: pointer;
}
.annotationData:hover span{
cursor: pointer;
color:#4e9fb1 !important;
}
.annotationData span:hover{
cursor: pointer;
}
.expandCollapseNoteList:hover {
	background:#d7edf1;
	color:#4e9fb1;
	font-weight:bold;font-family:Arial, Helvetica, sans-serif !important;
}

.index-leftPanelList:hover{
    cursor: pointer;
    float: left;
    background: #bac2ca; /* Old browsers */
background: -moz-linear-gradient(top,  #bac2ca 0%, #d0d8e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bac2ca), color-stop(100%,#d0d8e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bac2ca 0%,#d0d8e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bac2ca 0%,#d0d8e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bac2ca 0%,#d0d8e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bac2ca 0%,#d0d8e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac2ca', endColorstr='#d0d8e0',GradientType=0 ); /* IE6-9 */
    color: #383636;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;
	-webkit-box-shadow: inset 0px -1px 1px 0px #fff;box-shadow: inset 0px -1px 1px 0px #fff;
}

.index-leftPanelNumberList:hover{
    cursor: pointer;
    float: left;
    background: #bac2ca; /* Old browsers */
background: -moz-linear-gradient(top,  #bac2ca 0%, #d0d8e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bac2ca), color-stop(100%,#d0d8e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bac2ca 0%,#d0d8e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bac2ca 0%,#d0d8e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bac2ca 0%,#d0d8e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bac2ca 0%,#d0d8e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac2ca', endColorstr='#d0d8e0',GradientType=0 ); /* IE6-9 */
    color: #383636;
	-webkit-box-shadow: inset 0px -1px 1px 0px #fff;box-shadow: inset 0px -1px 1px 0px #fff;
}

.indexWord:hover {
background: #D7EDF1;
}
.subWordContainer:hover{
  background: #D7EDF1;  
  cursor: default;
}
.resourcePrimaryLink:hover{
	background: #d7edf1;
	cursor:pointer;
}
.resourceSecondaryLink:hover{
	background: #d7edf1;
	cursor:pointer;
}
/*
.nextPreviousPageInactive:hover{
	cursor:default;
}
*/
.nextPreviousPageActive:hover{background: #b8c8d5;
    background: -moz-linear-gradient(top, #b8c8d5 0%, #9eaebb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8c8d5), color-stop(100%,#9eaebb));
    background: -webkit-linear-gradient(top, #b8c8d5 0%,#9eaebb 100%);
    background: -o-linear-gradient(top, #b8c8d5 0%,#9eaebb 100%);
    background: -ms-linear-gradient(top, #b8c8d5 0%,#9eaebb 100%);
    background: linear-gradient(to bottom, #b8c8d5 0%,#9eaebb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c8d5', endColorstr='#9eaebb',GradientType=0 );}
.nextPageActiveArrow:hover, .nextPreviousPageActive:hover .nextPageActiveArrow{
   background: url("css/2TO5/images/main/iconSprite.png") -40px 0px no-repeat;}
.previousPageActiveArrow:hover, .nextPreviousPageActive:hover .previousPageActiveArrow {
    background: url("css/2TO5/images/main/iconSprite.png") 0px 0px no-repeat;}
.searchResult:hover
{
	float:left;
	width:312px;
	padding: 15px;
	cursor: pointer;
	border-bottom: 2px solid #9ba3aa;	
	background:#d7edf1;
}

div[type="widget:quiz"]:hover {
    background-color: #fcf9c4;
}

#prevQuestionArrow:hover{background: url('css/2TO5/images/questionAnswer/QA_sprite.png') no-repeat 0px -153px;}
#nextQuestionArrow:hover{background: url('css/2TO5/images/questionAnswer/QA_sprite.png') no-repeat -19px -153px;}

div.jp-video a.jp-play:hover {
	background: url("css/2TO5/images/video/videoPlayerSprite.png") -20px 0 no-repeat;
	outline: none;
}

div.jp-video a.jp-pause:hover {
	background: url("css/2TO5/images/video/videoPlayerSprite.png") -20px -20px no-repeat;
	outline: none;
}

.jp-full-screen:hover {
	background: url("css/2TO5/images/video/videoPlayerSprite.png") -20px -80px no-repeat;
	outline: none;
}

.jp-captions:hover {
	background: url("css/2TO5/images/video/videoPlayerSprite.png") -21px -60px no-repeat;
	outline: none;
}
.navigatorQAPanelDisable:hover{
	  cursor: default !important;
     }
          
.index-leftPanelNumberList.ui-disabled{
	background: none !important;
	cursor: default !important;
	color: white;
	opacity: 0.5;
	-webkit-box-shadow: none;box-shadow:none;
}
.index-leftPanelList.ui-disabled{
	 background: none !important;
	cursor: default !important;
	color: white;
	opacity: 0.5;
	-webkit-box-shadow: none;box-shadow:none;
}

.deletePrimaryButton.ui-disabled:hover {
	cursor: default !important;
	background: #f5aa9a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5aa9a 0%, #eb524a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5aa9a), color-stop(100%,#eb524a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5aa9a 0%,#eb524a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5aa9a 0%,#eb524a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5aa9a 0%,#eb524a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5aa9a 0%,#eb524a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5aa9a', endColorstr='#eb524a',GradientType=0 ); /* IE6-9 */
}

.primaryButton.ui-disabled:hover {
	cursor:default !important;
	background: #a4d34f; /* Old browsers */
	background: -moz-linear-gradient(top,  #a4d34f 0%, #5bac2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4d34f), color-stop(100%,#5bac2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a4d34f 0%,#5bac2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a4d34f 0%,#5bac2c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a4d34f 0%,#5bac2c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a4d34f 0%,#5bac2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4d34f', endColorstr='#5bac2c',GradientType=0 ); /* IE6-9 */
}

#rangeSlider.ui-disabled .ui-slider-handle {
	cursor:default !important;
}

.languageButton.ui-disabled:hover {
	cursor:default;
	-ms-user-select:none;
	background-position: 0px -540px;
}

.tocGotoBtn.ui-disabled:hover {
	cursor:default !important;
}

.searchBtn.ui-disabled:hover {
	cursor:default !important;
}
.imageInnerContainer:hover {
	outline: 9px solid #fff;
	outline-offset: -9px;
}

.prevExpandedImg:hover{
	background: #d9dada;
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'); /* fallback */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -webkit-gradient(linear, left top, left bottom, from(#d9dada), to(#4f5355)); /* Saf4+, Chrome */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -webkit-linear-gradient(top, #d9dada, #4f5355); /* Chrome 10+, Saf5.1+ */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -moz-linear-gradient(top, #d9dada, #4f5355); /* FF3.6+ */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -ms-linear-gradient(top, #d9dada, #4f5355); /* IE10 */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -o-linear-gradient(top, #d9dada, #4f5355); /* Opera 11.10+ */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), linear-gradient(top, #d9dada, #4f5355); /* W3C */
}

.nextExpandedImg:hover{
	background: #d9dada;
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'); /* fallback */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -webkit-gradient(linear, left top, left bottom, from(#d9dada), to(#4f5355)); /* Saf4+, Chrome */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -webkit-linear-gradient(top, #d9dada, #4f5355); /* Chrome 10+, Saf5.1+ */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -moz-linear-gradient(top, #d9dada, #4f5355); /* FF3.6+ */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -ms-linear-gradient(top, #d9dada, #4f5355); /* IE10 */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), -o-linear-gradient(top, #d9dada, #4f5355); /* Opera 11.10+ */
    background-image: url('css/2TO5/images/questionAnswer/questionPanePattern.png'), linear-gradient(top, #d9dada, #4f5355); /* W3C */
}

.print-opt-btn:hover {
	background-color: #d7edf1; 
}

#printBtn.print-on:hover {
	background-position: -90px -814px;
}

#ToolsListContainer li:hover{background: #d7edf1;}
