.audioPlayerCloseBtn {
	height: 15px;
	width: 12px;
	position: absolute;
	right: 5px;
	top: 5px;
	background: url('../css/images/audioClose.png') no-repeat -13px 0px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}
/*** MEDIA CSS ***/
.players {
          position: fixed;
          bottom: 0px;
          left: 255px;
          display: none;
          -moz-box-shadow: 0px 0px 8px #000000;
          -webkit-box-shadow: 0px 0px 8px #000000;
          box-shadow: 0px 0px 8px #000000;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          width: 354px;
          z-index: 200;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          border: solid 1px #030303;
}

div.jp-audio, div.jp-video {
          /* Edit the font-size to counteract inherited font sizing.
           * Eg. 1.25em = 1 / 0.8em
           */
          font-size: 1em; /* No parent CSS that can effect the size in these demos */
          font-family: Verdana, Arial, sans-serif;
          line-height: 1.6;
          color: #666;
}

div.jp-audio {
          width: 420px;
}

div.jp-video-270p {
          width: 480px;
}

div.jp-video-360p {
          width: 640px;
}

div.jp-interface {
          background: #555;
          background: -moz-linear-gradient(top, #555 0%, black 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,black));
          background: -webkit-linear-gradient(top, #555 0%,black 100%);
          background: -o-linear-gradient(top, #555 0%,black 100%);
          background: -ms-linear-gradient(top, #555 0%,black 100%);
          background: linear-gradient(to bottom, #555 0%,black 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#000000',GradientType=0 );
          -webkit-box-shadow: inset 0px 1px 1px white;
          box-shadow: inset 0px 1px 1px white;
          -moz-box-shadow: inset 0px 1px 1px white;
          float: left;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          width: 354px;
          height: 40px;
}

div.jp-audio div.jp-type-single div.jp-interface {

}

div.jp-audio div.jp-type-playlist div.jp-interface {
          height: 80px;
}

div.jp-video div.jp-type-single div.jp-interface {
          height: 27px;
          width: 100%;
          background: #40484b; /* Old browsers */
          background: -moz-linear-gradient(top,  #40484b 0%, #40484b 49%, #2e373a 50%, #2e373a 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40484b), color-stop(49%,#40484b), color-stop(50%,#2e373a), color-stop(100%,#2e373a)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #40484b 0%,#40484b 49%,#2e373a 50%,#2e373a 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #40484b 0%,#40484b 49%,#2e373a 50%,#2e373a 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #40484b 0%,#40484b 49%,#2e373a 50%,#2e373a 100%); /* IE10+ */
          background: linear-gradient(to bottom,  #40484b 0%,#40484b 49%,#2e373a 50%,#2e373a 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40484b', endColorstr='#2e373a',GradientType=0 ); /* IE6-9 */
          -moz-box-shadow: inset 0px 1px 1px #fff;
          -webkit-box-shadow: inset 0 1px 0 #B3B5B6;
          box-shadow: inset 0 1px 0 #B3B5B6;
          -webkit-border-radius: 0px;
          border-radius: 0px;
}

#video-jp-play-parent {
          float: left;
          overflow: hidden;
}

#video-jp-pause-parent {
          float: left;
          overflow: hidden;
}

div.jp-video div.jp-type-playlist div.jp-interface {
          height: 60px;
}

div.jp-interface ul.jp-controls {
          list-style-type: none;
          padding: 0;
          margin: 0;
          float: left;
}

div.jp-interface ul.jp-controls li {
          /* position: absolute; */
          display: inline;
}

div.jp-interface ul.jp-controls a {
          overflow: hidden;
          text-indent: -9999px;
          float: left;
          margin-left: 6px;
          margin-right: 6px;
          margin-top: 9px;
}

a.jp-play, a.jp-pause {
          width: 21px;
          height: 21px;
          z-index: 1;
}

div.jp-audio div.jp-type-single a.jp-play, div.jp-audio div.jp-type-single a.jp-pause {
          position: absolute;
          top: 1px;
          left: 3px;
}

div.jp-audio div.jp-type-playlist a.jp-play, div.jp-audio div.jp-type-playlist a.jp-pause {

}


div.jp-video-270p div.jp-type-single a.jp-play, div.jp-video-270p div.jp-type-single a.jp-pause {

}

div.jp-video-270p div.jp-type-playlist a.jp-play, div.jp-video-270p div.jp-type-playlist a.jp-pause {

}

div.jp-video-360p div.jp-type-single a.jp-play, div.jp-video-360p div.jp-type-single a.jp-pause {

}

div.jp-video-360p div.jp-type-playlist a.jp-play, div.jp-video-360p div.jp-type-playlist a.jp-pause {

}

a.jp-play {
          background: url("../css/images/audio_player_sprite.png") -19px 0 no-repeat;
          outline: none;
}

a.jp-pause {
          background: url("../css/images/audio_player_sprite.png") -42px 0px no-repeat;
          display: none;
          outline: none;
}

div.jp-audio div.jp-type-single a.jp-stop {
          position: absolute;
          top: 1px;
          left: 2px;
}

div.jp-audio div.jp-type-playlist a.jp-stop {

}

div.jp-video a.jp-stop {

}

div.jp-video-270p div.jp-type-single a.jp-stop {

}

div.jp-video-270p div.jp-type-playlist a.jp-stop {

}

div.jp-video-360p div.jp-type-single a.jp-stop {

}

div.jp-video-360p div.jp-type-playlist a.jp-stop {

}

a.jp-stop {
          background: url("../css/images/audio_player_sprite.png") 0 0px no-repeat;
          width: 21px;
          height: 21px;
          z-index: 1;
          outline: none;
}

div.jp-audio div.jp-type-playlist a.jp-previous {
          left: 20px;
          top: 26px;
}

div.jp-video div.jp-type-playlist a.jp-previous {
          top: 21px;
}

div.jp-video-270p div.jp-type-playlist a.jp-previous {
          left: 192px;
}

div.jp-video-360p div.jp-type-playlist a.jp-previous {
          left: 272px;
}

a.jp-previous {
          background: url("../css/images/audio_player_sprite.png") 0 -112px no-repeat;
          width: 28px;
          height: 28px;
}

div.jp-audio div.jp-type-playlist a.jp-next {
          left: 88px;
          top: 26px;
}

div.jp-video div.jp-type-playlist a.jp-next {
          top: 21px;
}

div.jp-video-270p div.jp-type-playlist a.jp-next {
          left: 260px;
}

div.jp-video-360p div.jp-type-playlist a.jp-next {
          left: 340px;
}

a.jp-next {
          background: url("../css/images/audio_player_sprite.png") 0 -141px no-repeat;
          width: 28px;
          height: 28px;
}

div.jp-progress {
          overflow: hidden;
          /*background-color: #ddd;*/
}

div.jp-audio div.jp-type-single div.jp-progress {
          width: 157px;
          height: 10px;
          float: left;
          position: absolute;
          top: 16px;
          left: 90px;
          border-radius: 20px;
}

div.jp-audio div.jp-type-playlist div.jp-progress {
          top: 32px;
          left: 164px;
          width: 122px;
          height: 15px;
}

div.jp-video div.jp-type-single div.jp-progress {
          width: 100%;
          height: 10px;
          float: left;
          position: relative;
          top: 1px;
          left: 12px;
          border-radius: 20px;
}

div.jp-video li.volumeContainerList {
          width: 38px !important;
          height: 27px !important;
          position: relative !important;
          left: 0px !important;
          list-style: none;
          /*top: -8px !important;*/
          float: right;
}

div.jp-seek-bar {
          /* background: url("../css/images/audio_player_sprite.png") 0 -202px repeat-x;*/
          width: 0px;
          /* height:15px; */
          height: 100%;
          cursor: pointer;
}

div.jp-play-bar {
          width: 0px;
          /* height:15px; */
          height: 100%;
}

/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {

}

a.jp-mute, a.jp-unmute {
          width: 21px;
          height: 21px;
          float: left;
          position: absolute;
          top: 9px;
          left: 7px;
}

div.jp-audio div.jp-type-single a.jp-mute, div.jp-audio div.jp-type-single a.jp-unmute {

}

div.jp-audio div.jp-type-playlist a.jp-mute, div.jp-audio div.jp-type-playlist a.jp-unmute {
          top: 32px;
          left: 296px;
}

div.jp-video a.jp-mute, div.jp-video a.jp-unmute {
          top: 1px;
          left: 3px;
          background: url("css/6TO12/images/video/videoPlayerSprite.png") 0px -40px no-repeat;
          outline: none;
}

div.jp-video-270p div.jp-type-single a.jp-mute, div.jp-video-270p div.jp-type-single a.jp-unmute {
          left: 304px;
}

div.jp-video-270p div.jp-type-playlist a.jp-unmute, div.jp-video-270p div.jp-type-playlist a.jp-mute {
          left: 363px;
}

div.jp-video-360p div.jp-type-single a.jp-mute, div.jp-video-360p div.jp-type-single a.jp-unmute {
          left: 384px;
}

div.jp-video-360p div.jp-type-playlist a.jp-mute, div.jp-video-360p div.jp-type-playlist a.jp-unmute {
          left: 443px;
}

a.jp-mute {
          background: url("../css/images/audio_player_sprite.png") -85px 0px no-repeat;
}

a.jp-unmute {
          background: url("../css/images/audio_player_sprite.png") -64px 0px no-repeat;
          outline: none;
}

div.jp-volume-bar {
          position: absolute;
          overflow: hidden;
          background: black;
          width: 8px;
          height: 52px;
          cursor: pointer;
          border-radius: 5px;
}

div.jp-audio div.jp-type-single div.jp-volume-bar {
          top: 10px;
          left: 16px;
}

div.jp-audio div.jp-type-playlist div.jp-volume-bar {
          top: 37px;
          left: 324px;
}

div.jp-video div.jp-volume-bar {
          left: 16px;
          position: absolute;
          top: 10px;
}

div.jp-video-270p div.jp-type-single div.jp-volume-bar {
          left: 332px;
}

div.jp-video-270p div.jp-type-playlist div.jp-volume-bar {
          left: 391px;
}

div.jp-video-360p div.jp-type-single div.jp-volume-bar {
          left: 412px;
}

div.jp-video-360p div.jp-type-playlist div.jp-volume-bar {
          left: 471px;
}

div.jp-volume-bar-value {
          background: #AAD019;
          background: -moz-linear-gradient(top, #AAD019 0%, #7AB60B 68%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAD019), color-stop(68%,#7AB60B));
          background: -webkit-linear-gradient(top, #AAD019 0%,#7AB60B 68%);
          background: -o-linear-gradient(top, #AAD019 0%,#7AB60B 68%);
          background: -ms-linear-gradient(top, #AAD019 0%,#7AB60B 68%);
          background: linear-gradient(to bottom, #AAD019 0%,#7AB60B 68%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad019', endColorstr='#7ab60b',GradientType=0 );
          width: 8px;
          height: 0px;
          position: absolute;
          bottom: 0;
          border-radius: 5px;
}

div.jp-current-time, div.jp-duration {
          position: absolute;
          font-size: 11px;
          font-family: arial;
          color: #f7fafb;
          text-shadow: none;
}

div.jp-duration {
          text-align: right;
}

div.jp-audio div.jp-type-single div.jp-current-time, div.jp-audio div.jp-type-single div.jp-duration {
          top: 14px;
          left: 256px;
}

div.jp-audio div.jp-type-playlist div.jp-current-time, div.jp-audio div.jp-type-playlist div.jp-duration {
          top: 49px;
          left: 164px;
          width: 122px;
}

div.jp-video div.jp-current-time, div.jp-video div.jp-duration {
          top: 4px;
          left: 90px;
          width: auto;
          padding: 0 1%;
          position: relative;
          float: left;
}

div.jp-playlist {
          /* width:418px; */
          width: 100%;
          background-color: #ccc;
          border: 1px solid #009be3;
          border-top: none;
}

div.jp-playlist ul {
          list-style-type: none;
          margin: 0;
          padding: 0 20px;
          /* background-color:#ccc; */
          /* border:1px solid #009be3; */
          /* border-top:none; */
          /* width:378px; */
          font-size: .72em;
}

div.jp-type-single div.jp-playlist li {
          padding: 5px 0 5px 20px;
          font-weight: bold;
}

div.jp-type-playlist div.jp-playlist li {
          padding: 5px 0 4px 20px;
          border-bottom: 1px solid #eee;
}

/*
 div.jp-video div.jp-playlist li {
 padding:5px 0 5px 20px;
 font-weight:bold;
 }
 */
div.jp-type-playlist div.jp-playlist li.jp-playlist-last {
          padding: 5px 0 5px 20px;
          border-bottom: none;
}

div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
          list-style-type: square;
          list-style-position: inside;
          padding-left: 8px;
}

div.jp-type-playlist div.jp-playlist a {
          color: #666;
          text-decoration: none;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
          color: #0d88c1;
}

div.jp-type-playlist div.jp-playlist div.jp-free-media {
          display: inline;
          margin-left: 20px;
}

div.jp-video div.jp-video-play {
          background: transparent url("jplayer.blue.monday.video.play.png") no-repeat center;
          /* position: relative; */
          position: absolute;
          cursor: pointer;
          z-index: 2;
}

div.jp-video-270p div.jp-video-play {
          top: -270px;
          width: 480px;
          height: 270px;
}

div.jp-video-360p div.jp-video-play {
          top: -360px;
          width: 640px;
          height: 360px;
}

div.jp-jplayer {
          width: 0px;
          height: 0px;
}

div.jp-video div.jp-jplayer {
          border: 1px solid #009be3;
          border-bottom: none;
          z-index: 1;
}

div.jp-video-270p div.jp-jplayer {
          width: 480px;
          height: 270px;
}

div.jp-video-360p div.jp-jplayer {
          width: 640px;
          height: 360px;
}

div.jp-jplayer {
          background-color: #000000;
}
.ebookexample {
          background: #FFF;
          width: 1000px;
          height: 500px;
          font-size: 80%;
          border: 1px #000 solid;
          margin: 0.5em 10% 0.5em;
          padding: 1em 2em 2em;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px
}

.ebookexample .players {
          float: left;
          margin: 10px;
}


/** Slider **/

#progressBarSlider {
          -webkit-box-shadow: inset 0px -1px 1px 0px #8c8b8b;
          box-shadow: inset 0px -1px 1px 0px #8c8b8b;
          background: #1e1e1e; /* Old browsers */
          background: -moz-linear-gradient(top,  #1e1e1e 0%, #000000 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e1e1e), color-stop(100%,#000000)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #1e1e1e 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #1e1e1e 0%,#000000 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #1e1e1e 0%,#000000 100%); /* IE10+ */
          background: linear-gradient(to bottom,  #1e1e1e 0%,#000000 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
          -webkit-border-radius: 5px;
          border-radius: 5px;
          height: 8px;
          width: 156px;
          position: relative;
          left: 90px;
          top: 16px;
}

.ui-slider-handle {
          position: absolute;
          z-index: 2;
          width: 25px;
          height: 25px;
          cursor: pointer;
          font-weight: bold;
          color: #1C94C4;
          outline: none;
}
.ui-slider-range {
          background: #AAD019;
          background: -moz-linear-gradient(top, #AAD019 0%, #7AB60B 68%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAD019), color-stop(68%,#7AB60B));
          background: -webkit-linear-gradient(top, #AAD019 0%,#7AB60B 68%);
          background: -o-linear-gradient(top, #AAD019 0%,#7AB60B 68%);
          background: -ms-linear-gradient(top, #AAD019 0%,#7AB60B 68%);
          background: linear-gradient(to bottom, #AAD019 0%,#7AB60B 68%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad019', endColorstr='#7ab60b',GradientType=0 );
          position: absolute;
          border: 0;
          top: 0px;
          height: 100%;
          border-radius: 25px;
}

div.players #jp-volume-container {
          position: absolute;
          height: 80px;
          width: 40px;
          top: -74px;
          left: 297px;
          background: url('../css/images/audio_voume_controller_base.png') no-repeat;
          display: none;
          z-index: 2;
          cursor: default;
          overflow: hidden;
}

div.videoplayer #jp-volume-container {
          position: absolute;
          height: 80px;
          width: 40px;
          top: -74px;
          left: -1px;
          background: url('../css/images/audio_voume_controller_base.png') no-repeat;
          display: none;
          z-index: 2;
          cursor: default;
          overflow: hidden;
}

#volumeSlider.ui-slider {
          background: black;
          width: 8px;
          height: 52px;
          left: 16px;
          top: 10px;
          position: absolute;
}

#volumeSlider .ui-slider-handle {
          margin-left: -15px;
          left: 11px;
          width: 17px;
          height: 20px;
          background: url("../css/images/audio_player_sprite.png") -150px 0px no-repeat;
          margin-bottom: -8px;
          margin-top: -9px;
}
#progressBarSlider .ui-slider-handle {
          left: 0%;
          top: 50%;
          margin-left: -8px;
          background: url("../css/images/audio_player_sprite.png") -108px 0px no-repeat;
          width: 17px;
          height: 20px;
          margin-top: -10px;
}
#progressBarSlider .ui-slider-handle:active {
          background: url("../css/images/audio_player_sprite.png") -129px 0px no-repeat;
}
#volumeSlider .ui-slider-handle:active {
          background: url("../css/images/audio_player_sprite.png") -171px 0px no-repeat;
}
.audioPanelSeparator {
          background: url("../css/images/seperator.png") 0px 0px repeat-y;
          height: 40px;
          width: 2px;
          float: left;
}
a.jp-unmute {

}
.jp-interface li {
          list-style-type: none;
}

.jp-interface .audioPanelButton:active {
          background: #7A7B7B;
          background: -moz-linear-gradient(top, #7A7B7B 10%, #1A1A1A 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#7A7B7B), color-stop(100%,#1A1A1A));
          background: -webkit-linear-gradient(top, #7A7B7B 10%,#1A1A1A 100%);
          background: -o-linear-gradient(top, #7A7B7B 10%,#1A1A1A 100%);
          background: -ms-linear-gradient(top, #7A7B7B 10%,#1A1A1A 100%);
          background: linear-gradient(to bottom, #7A7B7B 10%,#1A1A1A 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7b7b', endColorstr='#1a1a1a',GradientType=0 );
          -moz-box-shadow: inset 0px 1px 1px #fff;
          -webkit-box-shadow: inset 0px 1px 1px white;
          box-shadow: inset 0px 1px 1px white;
}
.audioText {
          height: 18px;
          border: 1px solid #000;
          text-align: center;
          width: 44px;
          background: #373D3D;
          right: 25px;
          position: absolute;
          top: 12px;
}
#jp-stop-parent {
          position: absolute;
          width: 38px;
          height: 40px;
          overflow: hidden;
}
div.players .audioPanelButton {
          overflow: hidden;
}
#jp-play-parent {
          position: absolute;
          width: 38px;
          height: 40px;
          left: 39px;
          overflow: hidden;
}
#jp-pause-parent {
          position: absolute;
          width: 38px;
          height: 40px;
          left: 39px;
          overflow: hidden;
}

div.players #volumeContainerList {
          width: 38px;
          height: 40px;
          position: relative;
          left: 298px;
          top: -7px;
}
div.ui-slider {

          top: 0px;
          margin: 0;
}

.players .ui-slider {

          top: 10px;
          margin: 0;
}
.stopSeparator{
	position: absolute;left: 38px;top: 0px;
}
.playSeparator{
	position: absolute;top: 0px;left: 77px;
}
.seekBarSeparator{
	position: absolute;top: 0px;left: 297px;
}
.volumeSeparator{
	position: absolute;top: 0px;left: 336px; display:none
}