@page 
    {
        size: portrait;
        margin: 3mm 4mm;  /* this affects the margin in the printer settings */
    }

body 
    {
        margin: 0px;  /* this affects the margin on the content before sending to printer */
   }
   
.QAPrint{
   		position: absolute;
   		top: 0;
   		left: 0;
   		
}
.contentBody{
	overflow: hidden;
	/*border: 10px solid red;*/
}

.noPrint {
	display: none;
}

.btnBookmarkComp-off{
	display: none;
}

.mainContent{
	/*border: 10px solid blue;*/
	
}
#bookContentContainer{
	/* For Chrome
	   height: 1100px;
	   width: 840px;
	   */
	  
	/* For IE
	height: 1650px;
	width: 1300px;
	*/
	/* SAF
	height: 1050px;
	width: 840px;
	*/
	/*height: 1050px;
	width: 840px;*/
}

body{
	overflow: auto;
}

.printInScrollview{
	overflow: auto;
	height: 100% !important;
}


.bookContentContainerInScrollView{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0px;
}

.bookContentContainerInSinglePageView{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 0px;
}

* {
	-webkit-print-color-adjust: exact;
}

.footerScrollView{
	position: absolute !important;
	bottom: 0 !important;
}

div.divFooter {
	display: block !important;
	position: absolute;
	bottom: 10px;
	left:0px;
}
div.qadivFooter {
	display: block !important;
	float:left;
	clear:both;
	bottom: 0px;
}

.landscape {
	width: 100%;
	height: 100%;
	margin: 0% 0% 0% 0%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
}


table {
	height: 35%;
}

#pageImage {
	height: 100%;
	width: 100%;
	page-break-inside: avoid !important;
}

.btnPrintComp {
	position: relative;
	height: 44px;
	width: 44px;
	background-image: url('image/Print.png') !important;
	background-repeat: no-repeat !important;
	float: left;
	cursor: pointer;
}

.btnPrintComp:active {
	background-image: url('image/Print_selected.png') !important;
	background-repeat: no-repeat !important;
}

.printPanel {
	float: none;
	z-index: 10000;
	display: block;
	position: absolute;
	top: 32px;
	display: none;
}

.printInternalContainer {
	margin: 0px;
	width: 319px;
	height: 216px;
	background-image: url('image/dropdown_base.png') !important;
	background-repeat: no-repeat !important;
	position: relative;
	top: -11px;
}

.rowPrintOptionPage {
	position: absolute;
	top: 70px;
	width: 214px;
	left: 27px;
	height: 40px;
}

.rowPrintOptionNote {
	position: absolute;
	top: 100px;
	width: 214px;
	left: 27px;
	height: 40px;
}

.button-print {
	color: #ffffff;
	font-size: 18px;
	padding: 4px 1px;
	text-decoration: none;
	background-image: url('image/print_button.png') !important;
	background-repeat: no-repeat;
	display: inline-block; /*IE is so silly*/
	width: 80px;
	height: 40px;
	font-weight: normal;
	cursor: pointer;
	font-family: 'becregular';
}

.button-print:active {
	background-image: url('image/print_button_tapped.png') !important;
	background-repeat: no-repeat;
	width: 80px;
	height: 40px;
	cursor: pointer;
}

.button-cancel {
	font-family: 'becregular';
	color: #ffffff;
	font-size: 18px;
	padding: 4px 1px;
	text-decoration: none;
	background-image: url('image/cancel_normal.png') !important;
	background-repeat: no-repeat;
	display: inline-block; /* IE is so silly */
	width: 80px;
	height: 40px;
	font-weight: normal;
}

.button-cancel:active {
	background-image: url('image/cancel_tapped.png') !important;
	background-repeat: no-repeat;
	width: 80px;
	height: 40px;
	cursor: pointer;
}

.radioselected {
	position: relative;
	left: 10px;
	top: 3px;
	background-image: url('image/radiobutton_selected.png') !important;
	background-repeat: no-repeat;
}

.radio {
	position: relative;
	left: 10px;
	top: 1px;
	background-image: url('image/radiobutton.png') !important;
	background-repeat: no-repeat;
}

.rowPrintOptionPage input[type="radio"], .rowPrintOptionNote input[type="radio"] {
	opacity: 0;
	width: 41px;
	height: 25px;
	background-size: 0px 0px;
	margin-left: -22px;
	margin-top: -2px;
	background-repeat: no-repeat !important;
}

.button-cancel:hover {
	cursor: pointer;
}

.rowPrintOptionBtn {
	position: absolute;
	top: 143px;
	left: 72px;
}

.radioContainer {
	width: 55px;
	position: absolute;
	top: 5px;
	font-family: 'becregular';
}

.currentPagePrint {
	float: left;
	position: absolute;
	left: 50px;
	top: 9px;
}

.notesPrint {
	float: left;
	position: absolute;
	left: 50px;
	top: 9px;
	font-family: 'becregular';
}

.currentPagePrint label, .notesPrint label {
	color: #000;
	font-family: 'becregular';
	font-size: 14px;
}

.rowPrintOptionHead {
	position: absolute;
	top: 26px;
	left: 134px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}

.btnPrintCompSelected {
	position: relative;
	height: 44px;
	width: 44px;
	float: left;
	cursor: pointer;
	background-image: url('image/Print_selected.png') !important;
	background-repeat: no-repeat;
}

#innerScrollContainer {
	/*-ms-transform: scale(1,1) !important;
	 -moz-transform: scale(1,1) !important;
	 -webkit-transform: scale(1,1) !important;
	 -o-transform: scale(1,1) !important;*/
}

#bookContentContainer {
	/*width: 100% !important;
	 height: 100% !important;*/
}

.audioHotspotContent {
	position: absolute;
	width: 36px;
	height: 35px;
	background-image: url('../images/resources_media_sprite.png');
	background-position: -91px -33px !important;
	background-repeat: no-repeat;
	cursor: pointer;
}
.playAudioContent, .playAudioContent:active {
	position: absolute;
	width: 36px;
	height: 34px;
	background-image: url('../images/resources_media_sprite.png');
	background-position: -128px -33px !important;
	cursor: pointer;
	background-repeat: no-repeat;
}

#printBtn {
	display: none;
}
#scrollMainContainer, img, figure, section, figure, figure img {
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

/***** QA Panel CSS ****/

#questionAnswerPanel {
	width: 820px;
	position: absolute;
	bottom: 0;
	left: 118px;
	height: auto;
	-webkit-box-shadow: 0px -2px 3px 0px #bbb;
	box-shadow: 0px -2px 3px 0px #bbb;
	border: 1px solid #9f9c91;
	display: none;
	background: #c4c1b6;
	background-image: url('6TO12/images/questionAnswer/questionPanePattern.png'); /* fallback */
	background-image: url('6TO12/images/questionAnswer/questionPanePattern.png'), -webkit-gradient(linear, left top, left bottom, from(#c4c1b6), to(#e9e6db)); /* Saf4+, Chrome */
	background-image: url('6TO12/images/questionAnswer/questionPanePattern.png'), -webkit-linear-gradient(top, #c4c1b6, #e9e6db); /* Chrome 10+, Saf5.1+ */
	background-image: url('6TO12/images/questionAnswer/questionPanePattern.png'), -moz-linear-gradient(top, #c4c1b6, #e9e6db); /* FF3.6+ */
	background-image: url('6TO12/images/questionAnswer/questionPanePattern.png'), -ms-linear-gradient(top, #c4c1b6, #e9e6db); /* IE10 */
	background-image: url('6TO12/images/questionAnswer/questionPanePattern.png'), -o-linear-gradient(top, #c4c1b6, #e9e6db); /* Opera 11.10+ */
	background-image: url('6TO12/images/questionAnswer/questionPanePattern.png'), linear-gradient(top, #c4c1b6, #e9e6db); /* W3C */
	z-index: 199;
}

#questionanswerHeader {
	height: 40px;
	width: 100%;
	float: left;
	clear: both;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#questionanswerInnerContent {
	overflow: auto;
	clear: both;
	padding: 15px 0;
	min-height: 250px;
	padding-bottom: 50px;
	text-align: left;
}

.questionanswerInnerContent {
	float:left;
	clear:both;
	text-align: left !important;
}

#questionanswerFooter {
	height: 40px;
	width: 100%;
	float: left;
	clear: both;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#questionPanelPageNumber {
	float: left;
	margin-left: 24px;
	margin-top: 9px;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	color: #6b6a6a;
}

#questionPanelSaveButton {
	float: left;
	margin-left: 24px;
	margin-top: 8px;
	width: 56px;
}
#questionPanelQuestionNavigator {
	height: 15px;
	float: left;
	position: absolute;
	margin-top: 11px;
	width: 215px;
}

#questionPanelPrintIcon {
	width: 23px;
	height: 23px;
	float: right;
	margin-right: 25px;
	margin-top: 7px;
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat 0px 0px;
	cursor: pointer;
}

#questionPanelMinimizeIcon {
	width: 20px;
	height: 21px;
	float: right;
	margin-right: 41px;
	margin-top: 6px;
	cursor: pointer;
}

#questionPanelSectionName {
	float: left;
	margin-left: 30px;
}

#questionPanelQuestion {
	margin-left: 30px;
	margin-top: 20px;
	clear: both;
	float: left;
	width: 95%;
}

#questionPanelSectionTitle {
	float: left;
	clear: both;
	font-size: 16px;
	color: #5f6873;
	font-weight: bold;
}

.questionPanelOptions {
	clear: both;
	float: left;
}

.questionPanelMultipleChoiceOptions {
	width: 70%;
}

.questionPanelFillupOptions {
	width: 70%;
	line-height: 25px;
}

.questionPanelOptionsText {
	clear: both;
	float: left;
	background: #f3f3f3;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100% !important;
	height: 150px;
	padding: 10px;
}
#questionPanelSectionContent {
	clear: both;
	font-size: 12px;
	color: #5f6873;
}
.questionPanelQuestionContent {
	color: #5F6873;
	float: left;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	margin: 0px 0px 20px 0px;
}

.questionPanelquesDots {
	float: left;
	margin-left: 20px;
	margin-top: 2px;
}

.minimizeQAPanel {
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat -50px 0px;
}
.maximizeQAPanel {
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat -27px 0px;
}
#prevQuestionArrow {
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat 0px -23px;
	height: 27px;
	width: 19px;
	float: left;
	margin: -4px 5px 0 0;
	cursor: pointer;
}
#nextQuestionArrow {
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat -19px -23px;
	height: 27px;
	width: 19px;
	float: left;
	margin-top: -4px;
	cursor: pointer;
}
.quesCompleteCircle {
	height: 12px;
	width: 12px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #598c8f;
	-webkit-box-shadow: 0px 0px 2px 1px #aaa;
	box-shadow: 0px 0px 2px 1px #aaa;
	background: #a5d7d6; /* Old browsers */
	cursor: pointer;
	background: -moz-linear-gradient(top,  #a5d7d6 0%, #6eadb1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5d7d6), color-stop(100%,#6eadb1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a5d7d6 0%,#6eadb1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a5d7d6 0%,#6eadb1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a5d7d6 0%,#6eadb1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a5d7d6 0%,#6eadb1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d7d6', endColorstr='#6eadb1',GradientType=0 ); /* IE6-9 */
}
.quesPendingCircle {
	height: 12px;
	width: 12px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #598c8f;
	-webkit-box-shadow: 0px 0px 2px 1px #aaa;
	box-shadow: 0px 0px 2px 1px #aaa;
	background: #4fb23f; /* Old browsers */
	cursor: pointer;
	background: -moz-linear-gradient(top,  #4fb23f 0%, #339825 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fb23f), color-stop(100%,#339825)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4fb23f 0%,#339825 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4fb23f 0%,#339825 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4fb23f 0%,#339825 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4fb23f 0%,#339825 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fb23f', endColorstr='#339825',GradientType=0 ); /* IE6-9 */
}
.quesCurrentCircle {
	height: 12px;
	width: 12px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #fff;
	-webkit-box-shadow: inset 0px 0px 1px 1px #0f9a8e;
	box-shadow: inset 0px 0px 1px 1px #0f9a8e;
	background: #13beaf; /* Old browsers */
	cursor: default;
	background: -moz-linear-gradient(top,  #13beaf 0%, #17c3b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13beaf), color-stop(100%,#17c3b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #13beaf 0%,#17c3b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #13beaf 0%,#17c3b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #13beaf 0%,#17c3b5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #13beaf 0%,#17c3b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13beaf', endColorstr='#17c3b5',GradientType=0 ); /* IE6-9 */
	margin-top: -0.5px;
}
.quesPendingCircle .questionBulletInnerShadow {
	height: 12px;
	width: 12px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 2px 2px -1px #90d37a;
	box-shadow: inset 0px 2px 2px -1px #90d37a;
}
.quesCompleteCircle .questionBulletInnerShadow {
	height: 12px;
	width: 12px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 2px 2px -1px #b3b2ad;
	box-shadow: inset 0px 2px 2px -1px #b3b2ad;
}
.choiceUnselected {
	height: 31px;
	width: 32px;
	float: left;
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat 0 -52px;
	margin: 0 3px 0 0;
	cursor: default;
}
.freeTextInteractivityTxtArea {
	width: 97%;
	border: 1px solid #C8C8C8;
	resize: none;
	font-size: 16px;
	color: #2a2a2a;
	padding: 10px;
	outline: none;
	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.marginB15 {
	padding: 0 0 15px 0;
}
.leftFloat {
	float: left;
}

.choiceSelected {
	height: 31px;
	width: 32px;
	float: left;
	background : url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat 0 -84px;
	margin: 0 3px 0 0;
	cursor: pointer;
}
.choiceCopy {
	border: 1px solid #afaeab;
	font-weight: bold;
	color: #3f3f3f;
	font-size: 12px;
	width: 286px;
	text-align: left;
	padding: 7px;
	background-color: rgba(255,255,255, .3);
}
.choiceCopySelected {
	border: 1px solid #afaeab;
	font-weight: bold;
	color: #3f3f3f;
	font-size: 12px;
	width: 286px;
	text-align: left;
	padding: 7px;
	background-color: rgba(255,255,255, 1);
}
.quesImageExpand {
	position: absolute;
	right: 0px;
	top: 0px;
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat -72px 0;
	height: 19px;
	width: 19px;
	float: right;
	cursor: pointer;
}
.quesImageMinimize {
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat -72px 0;
	height: 19px;
	width: 19px;
	float: right;
	cursor: pointer;
}
.questionImage {
	position: relative;
	background: url('6TO12/images/questionAnswer/questionPanePattern.png') #dee8e8;
	border: 5px solid #fff;
	-webkit-box-shadow: 0px 0px 1px 1px #d3d2d0;
	box-shadow: 0px 0px 1px 1px #d3d2d0;
	width:auto;
	height:auto;
	float:left;
	overflow: hidden;
}

.questionPanelFillup {
	clear: both;
	font-size: 12px;
	color: #5f6873;
	font-weight: bold;
	float: left;
	text-align: left;
	margin-bottom: 10px
}
#freeTextWithImageInteractivityTxtArea {
	width: 95%;
	border: 1px solid #C8C8C8;
	resize: none;
	font-size: 16px;
	color: #2a2a2a;
	padding: 10px;
	outline: none;
	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.incompleteQuestionStatus {
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat -33px -115px !important;
}

.completedQuestionStatus {
	background: url('6TO12/images/questionAnswer/questionAnswer_sprite.png') no-repeat -66px -115px !important;
}

.incorrectAnswer {
	background: #ea4e39; /* Old browsers */
	background: -moz-linear-gradient(top,  #ea4e39 0%, #e23c2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea4e39), color-stop(100%,#e23c2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ea4e39 0%,#e23c2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ea4e39 0%,#e23c2c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ea4e39 0%,#e23c2c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ea4e39 0%,#e23c2c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4e39', endColorstr='#e23c2c',GradientType=0 ); /* IE6-9 */
	/*-webkit-box-shadow:  0px 2px 1px 0px #c5c5c0;box-shadow:  0px 2px 1px 0px #c5c5c0;*/
}
.correctAnswer {
	background: #2cba1b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2cba1b 0%, #22a215 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cba1b), color-stop(100%,#22a215)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2cba1b 0%,#22a215 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2cba1b 0%,#22a215 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2cba1b 0%,#22a215 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2cba1b 0%,#22a215 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cba1b', endColorstr='#22a215',GradientType=0 ); /* IE6-9 */
	/*-webkit-box-shadow:  0px 2px 1px 0px #c5c5c0;box-shadow:  0px 2px 1px 0px #c5c5c0;*/
}
[type="showHideAnswer"] {
	height: 31px;
	width: 20px;
	float: left;
	visibility: hidden;
}

#QAPanelTable {
	position: absolute;
	right: 10px;
	bottom: 72px;
	border-collapse: collapse;
	color: #5f6873;
	font-size: 14px;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
#QAPanelTable th {
	color: #3e3f42;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	background: #f2f4f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f4f5 0%, #fff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f4f5), color-stop(100%,#fff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f4f5 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f4f5 0%,#fff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f4f5 0%,#fff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f4f5 0%,#fff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4f5, endColorstr='#fff',GradientType=0 '); /* IE6-9 */
	border: 1px solid #cecccc;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

#QAPanelTable td {
	padding: 8px 10px;
	border: 1px solid #cecccc;
	text-align: left;
}
#QAPanelTable tr {
	color: #000000;
	background-color: #f6f7f8;
}
#QAPanelTable tr.evenBlocks td {
	color: #000000;
	background-color: #fff;
}
.qaPanelTableInput {
	border: 1px solid #417cd6;
	-webkit-box-shadow: 0px 0px 3px 1px #b2e5ff;
	box-shadow: 0px 0px 3px 1px #b2e5ff;
}

/**********************************************/

#header-txt {
	line-height: 35px;
}

.questionanswerHeaderPrint {
	background: #DBDAD4;
	text-align: left;
	padding-left: 15px;
	height: 40px;
	width: 100%;
	float: left;
	clear: both;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.marginB15 {
	padding: 0 0 15px 0;
}
.leftFloat {
	float: left;
}

.btnBookmarkComp-off {
	height: 33px;
	width: 32px;
	background-image: url("css/6TO12/images/bookmark/Bookmark_page_icon_sprite.png");
	background-repeat: no-repeat !important;
	position: absolute;
	top: 0px;
	right: 12px;
	cursor: pointer;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
}

.btnBookmarkComp-on {
	height: 33px;
	width: 32px;
	background: url('../../../css/6TO12/images/bookmark/Bookmark_page_icon_sprite.png') no-repeat -33px 0px !important;
	position: absolute;
	top: 0px;
	right: 12px;
	cursor: pointer;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: none;
}
.pageNumberBelowBookMark {
	position: absolute;
	top: 34px;
	left: -15px;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #7D7F81;
	width: 60px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	filter: dropshadow(color=#888, offx=0, offy=1);
}

#qaPanelFillInTheBlankPrintDiv
{
	width: 222px;
	background: grey;
	display: inline-block;
	margin-left: 6px;
	background-color: rgb(235, 235, 228);
	height: 20px;
	border: 1px solid #999999;
}

#tableFillInTheBlankPrintDiv
{
	width: 175px;
	background: grey;
	display: inline-block;
	margin-left: 6px;
	background-color: rgb(235, 235, 228);
	height: 20px;
	border: 1px solid #417cd6;
	-webkit-box-shadow: 0px 0px 3px 1px #b2e5ff;
	-moz-box-shadow: 0px 0px 3px 1px #b2e5ff;
	box-shadow: 0px 0px 3px 1px #b2e5ff;
	padding-left:2px;
}

.printTeacherCommentIcon
{
	background: url("6TO12/images/stickynote/AnnotationSharing_OnPage.png" ) no-repeat;
	background-position: -34px 0px;
	float: right;
	width: 34px;
	height: 34px;
}

.printPanelTeacherCommentContainer
{
	clear: both;
	background: #e9e6da;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 740px;
	height: auto;
	position: relative;
	float: left;
	margin: 10px;
	text-align: left;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 10px;
}

.printPanelTeacherComment
{
	width: 670px;
	height: auto;
	float: left;
	overflow: auto;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,249,250,1) 100%);
	border: 1px solid rgb(200, 200, 200);
	resize: none;
	font-size: 16px;
	color: #2a2a2a;
	padding: 10px;
	/* padding-left: 10px; */
	outline: none;
	/* padding-bottom: 10px; */
}