@page 
    {
        size: landscape;
		margin: 5mm 5mm;  /* this affects the margin in the printer settings */
    }

    body 
    {
        background-color:#FFFFFF; 
        margin: 0px;  /* this affects the margin on the content before sending to printer */
   }
	
.landscapeView {
	margin: 0% 0% 0% 0%;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin:0% 0%;
    -moz-transform-origin:0% 0%;
    -ms-transform-origin:0% 0%;
    transform-origin:0% 0%;
    position:absolute;
	top:0%;
	left: 100%;
	
}


.elemToPrint{
}
.contentBody{
	overflow: hidden;
}

#bookContentContainer{
	/* For Chrome
	  // width: 1100px;
	   //height: 820px;*/
	   
	  
	/* For IE
	height: 1650px;
	width: 1300px;
	*/
	/* SAF
	height: 1050px;
	width: 840px;
	*/
	/*height: 1050px;
	width: 840px;*/
	
}

.landscapeViewFF{
}	

.landscapeViewSafari{
}

.landscapeViewIE{
	left: 100% !important;
}

