.page32_l1{top:24px; left:95px; position:absolute; white-space:pre;}
.page32_l2{top:44px; left:128px; position:absolute; white-space:pre;}
.page32_l3{top:229px; left:97px; position:absolute; white-space:pre;}
.page32_l4{top:275px; left:135px; position:absolute; white-space:pre;}
.page32_l5{top:327px; left:128px; position:absolute; white-space:pre;}
.page32_l6{top:379px; left:129px; position:absolute; white-space:pre;}
.page32_l7{top:431px; left:91px; position:absolute; white-space:pre;}
.page32_l8{top:98px; left:432px; position:absolute; white-space:pre;}
.page32_l9{top:191px; left:481px; position:absolute; white-space:pre;}
.page32_l1019{top:191px; left:590px; position:absolute; white-space:pre;}
.page32_l10{top:283px; left:451px; position:absolute; white-space:pre;}
.page32_l11{top:634px; left:540px; position:absolute; white-space:pre;}
.page32_l12{top:822px; left:540px; position:absolute; white-space:pre;}
.page32_l13{top:822px; left:664px; position:absolute; white-space:pre;}
.page32_l14{top:447px; left:308px; position:absolute; white-space:pre;}
.page32_l15{top:530px; left:363px; position:absolute; white-space:pre;}
.page32_l16{top:582px; left:363px; position:absolute; white-space:pre;}
.page32_l17{top:634px; left:407px; position:absolute; white-space:pre;}
.page32_l17a{top:634px; left: 540px; position:absolute; white-space:pre;}
.page32_l17b{top:634px; left: 684px; position:absolute; white-space:pre;}
.page32_l18{top:717px; left:363px; position:absolute; white-space:pre;}
.page32_l19{top:770px; left:363px; position:absolute; white-space:pre;}
.page32_l20{top:822px; left:407px; position:absolute; white-space:pre;}
.page32_l20a{top:822px; left: 541px; position:absolute; white-space:pre;}
.page32_l20b{top:822px; left: 663px; position:absolute; white-space:pre;}
.page32_l21{top:634px; left:683px; position:absolute; white-space:pre;}
.page32_l22{top:717px; left:824px; position:absolute; white-space:pre;}
.page32_l23{top:100px; left:437px; position:absolute; white-space:pre;}
.page32_l24{top:193px; left:486px; position:absolute; white-space:pre;}
.page32_l25{top:285px; left:456px; position:absolute; white-space:pre;}
.page32_l26{top:530px; left:594px; position:absolute; white-space:pre;}
.page32_l27{top:1283px; left:62px; position:absolute; white-space:pre;}
.page32_f11{font-size:24px;color:#231F20;font-family:'EurostileAlt-Bold';font-weight:500;}
.page32_f2{font-size:15px;color:#FFFFFF;font-family:'HMSFrutigerStdBlack';font-weight:500;}
.page32_f5{font-size:118px;color:#F47115;font-family:'SpumoniLPStd';font-weight:400;}
.page32_f9{font-size:33px;color:#231F20;font-family:'HMSFrutigerStdRoman';font-weight:400;word-spacing: 2PX;}
.page32_f3{font-size:31px;color:#231F20;font-family:'HMSFrutigerStdBlack';font-weight:500;}
.page32_f6{font-size:118px;color:#176FC0;font-family:'SpumoniLPStd';font-weight:400;}
.page32_f0{font-size:39px;color:#FBC707;font-family:'FrutigerLTStd-UltraBlack';font-weight:400;}
.page32_f4{font-size:118px;color:#FABC09;font-family:'SpumoniLPStd';font-weight:400;}
.page32_f7{font-size:118px;color:#6B41A4;font-family:'SpumoniLPStd';font-weight:400;}
.page32_f10{font-size:118px;color:#50369A;font-family:'SpumoniLPStd';font-weight:400;}
.page32_f1{font-size:131px;color:#FFFFFF;font-family:'StoneInformal-Bold';font-weight:500;}
.page32_f8{font-size:33px;color:#231F20;font-family:'HMSFrutigerStdBold';font-weight:500;}
.page0032_crp_f0{ top:894px; left:10px;position:absolute;}
.page0032_crp_f1{ top:7px; left:67px;position:absolute;}
.page0032_crp_f2{ top:84px; left:371px;position:absolute;}
#page31_audio1{top:46.0344827586207px; left:28.448275862069px; position:absolute;}
#page31_audio2{top:127.068965517241px; left:323.275862068966px; position:absolute;}
#page31_audio3{top:532.241379310345px; left:238.793103448276px; position:absolute;}
#page31_audio4{top:723.620689655172px; left:238.793103448276px; position:absolute;}
body{width:1031px;height:1359px;margin:0px;}
p{border:0px;padding:0px;margin:0px;white-space:pre;}
figure{margin:0px;}
.-epub-media-overlay-active{background-color: yellow;}
.audioPosition{top:0px;left:0px;position:absolute;}
.nonclickable{pointer-events: none; position:absolute;}
@font-face{font-family:'ITCFranklinGothicStd-DmCd'; src:url(../fonts/ITCFranklinGothicStd-DmCd.otf)}
@font-face{font-family:'ITCFranklinGothicStd-MdCd'; src:url(../fonts/ITCFranklinGothicStd-MdCd.otf)}
@font-face{font-family:'ITCFranklinGothicStd-Med'; src:url(../fonts/ITCFranklinGothicStd-Med.otf)}
@font-face{font-family:'ITCFranklinGothicStd-Hvy'; src:url(../fonts/ITCFranklinGothicStd-Hvy.otf)}
@font-face{font-family:'HMSLABAvenirStdLightKern'; src:url(../fonts/HMSLABAvenirStdLightKern.otf)}
@font-face{font-family:'HMSLABAvenirStdBoldKern'; src:url(../fonts/HMSLABAvenirStdBoldKern.otf)}
@font-face{font-family:'HMSLABAvenirStdRegularKern'; src:url(../fonts/HMSLABAvenirStdRegularKern.otf)}
@font-face{font-family:'HMSVAGRoundedStdBold'; src:url(../fonts/HMSVAGRoundedStdBold.otf)}
@font-face{font-family:'HMSPrimDisStdBounce'; src:url(../fonts/HMSPrimDisStdBounce.otf)}
@font-face{font-family:'HMSFrutigerStdRoman'; src:url(../fonts/HMSFrutigerStdRoman.otf)}
@font-face{font-family:'HMSFrutigerStdBold'; src:url(../fonts/HMSFrutigerStdBold.otf)}
@font-face{font-family:'StoneInformal'; src:url(../fonts/StoneInformal.otf)}
@font-face{font-family:'EurostileAlt-Bold'; src:url(../fonts/EurostileAlt-Bold.otf)}
@font-face{font-family:'HMSFrutigerStdBlack'; src:url(../fonts/HMSFrutigerStdBlack.otf)}
@font-face{font-family:'HMSFrutigerStdUltraBlack'; src:url(../fonts/HMSFrutigerStdUltraBlack.otf)}
@font-face{font-family:'StoneInformal-Bold'; src:url(../fonts/StoneInformal-Bold.otf)}
@font-face{font-family:'Palatino-Bold'; src:url(../fonts/Palatino-Bold.otf)}
@font-face{font-family:'AJensonPro-Bold'; src:url(../fonts/AJensonPro-Bold.otf)}
@font-face{font-family:'Palatino-Medium'; src:url(../fonts/Palatino-Medium.otf)}
@font-face{font-family:'HMSFrutigerCondStd'; src:url(../fonts/HMSFrutigerCondStd.otf)}
@font-face{font-family:'HMSFrutigerCondStdBold'; src:url(../fonts/HMSFrutigerCondStdBold.otf)}
@font-face{font-family:'NuevaStd-Bold'; src:url(../fonts/NuevaStd-Bold.otf)}
@font-face{font-family:'FrutigerLTStd-UltraBlack'; src:url(../fonts/FrutigerLTStd-UltraBlack.otf)}
@font-face{font-family:'SpumoniLPStd'; src:url(../fonts/SpumoniLPStd.otf)}
@font-face{font-family:'CoventryITCStd-Heavy'; src:url(../fonts/CoventryITCStd-Heavy.otf)}
@font-face{font-family:'AbcPrint'; src:url(../fonts/AbcPrint.otf)}
@font-face{font-family:'PalatinoLTStd-Medium'; src:url(../fonts/PalatinoLTStd-Medium.otf)}
@font-face{font-family:'PalatinoLTStd-Bold'; src:url(../fonts/PalatinoLTStd-Bold.otf)}
@font-face{font-family:'FrutigerLTStd-Roman'; src:url(../fonts/FrutigerLTStd-Roman.otf)}
@font-face{font-family:'FontoonITCStd'; src:url(../fonts/FontoonITCStd.otf)}
@font-face{font-family:'StoneInformal-Semibold'; src:url(../fonts/StoneInformal-Semibold.otf)}
@font-face{font-family:'HMSFrutigerCondStdBlack'; src:url(../fonts/HMSFrutigerCondStdBlack.otf)}
@font-face{font-family:'Palatino-Black'; src:url(../fonts/Palatino-Black.otf)}
@font-face{font-family:'VAGRounded-Light'; src:url(../fonts/VAGRounded-Light.otf)}
@font-face{font-family:'FrutigerLTStd-Bold'; src:url(../fonts/FrutigerLTStd-Bold.otf)}
@font-face{font-family:'FuturaStd-Medium'; src:url(../fonts/FuturaStd-Medium.otf)}
@font-face{font-family:'FuturaStd-Heavy'; src:url(../fonts/FuturaStd-Heavy.otf)}

.AudioDisplay{
position: absolute;
width: 36px;
height: 35px;
background-image: url('../images/resources_media_sprite.png');
background-position: -91px -33px !important;
background-repeat: no-repeat;
cursor: pointer;
}
.hi{background-color:#fff11a;}
.hig{background-color:#dbefb4;}
.text{text-indent:-43px}
.i{font-style:italic;}
.bold{font-weight:bold;}
.mar{text-indent:30px;}
.lmargin{margin-left:299px;}
.dot{margin-left:420px;}