body{width:820px;height:1171px;margin:0px;}

@font-face{font-family:'HelveticaNeueLTStd-Lt'; src:url(../fonts/HelveticaNeueLTStd-Lt.otf)}
@font-face{font-family:'MinionPro-Bold'; src:url(../fonts/MinionPro-Bold.otf)}
@font-face{font-family:'MinionPro-Cn'; src:url(../fonts/MinionPro-Cn.otf)}
@font-face{font-family:'MinionPro-Regular'; src:url(../fonts/MinionPro-Regular.otf)}
@font-face{font-family:'MinionPro-Semibold'; src:url(../fonts/MinionPro-Semibold.otf)}
@font-face{font-family:'MyriadPro-Black'; src:url(../fonts/MyriadPro-Black.otf)}
@font-face{font-family:'MyriadPro-Bold'; src:url(../fonts/MyriadPro-Bold.otf)}
@font-face{font-family:'MyriadPro-Cond'; src:url(../fonts/MyriadPro-Cond.otf)}
@font-face{font-family:'MyriadPro-It'; src:url(../fonts/MyriadPro-It.otf)}
@font-face{font-family:'MyriadPro-Regular'; src:url(../fonts/MyriadPro-Regular.otf)}
@font-face{font-family:'MyriadPro-SemiExt'; src:url(../fonts/MyriadPro-SemiExt.otf)}
@font-face{font-family:'MyriadPro-BlackCond'; src:url(../fonts/MyriadPro-BlackCond.otf)}
@font-face{font-family:'MyriadPro-BlackSemiCn'; src:url(../fonts/MyriadPro-BlackSemiCn.otf)}
@font-face{font-family:'MyriadPro-BoldCond'; src:url(../fonts/MyriadPro-BoldCond.otf)}
@font-face{font-family:'MyriadPro-Light'; src:url(../fonts/MyriadPro-Light.otf)}
@font-face{font-family:'MyriadPro-Semibold'; src:url(../fonts/MyriadPro-Semibold.otf)}

.-epub-media-overlay-active {
color: #000000;
background-color:#fada20;
}
li, p {
  white-space: pre;
 }

.page29fig{position:absolute;top:-15px;left:-40px;width:820px;height:1171px;}
.page30fig{position:absolute;top:-15px;left:-40px;}
.page31fig{position:absolute;top:-15px;left:-40px;}
.chapter-title-page1{position:absolute;top:100px;left:500px;color:#FFFFFF;letter-spacing:5px;font-family:'MyriadPro-SemiExt';font-size:25px;}
.book-title-page1{position:absolute;top:840px;left:150px;color:#FFFFFF;font-family:'HelveticaNeueLTStd-Lt';font-size:70px;}
.coverpara{ color: #3A2783;
    font-family: 'MyriadPro-Regular';
    font-size: 26px;
    left: 147px;
    position: absolute;
    top: 992px;
    word-spacing: 0px;}
.smallpara{position:absolute;top:1037px;left:661px;color:#3A2783;font-size:20px;font-family:'MyriadPro-Regular'}
.back{font-family:'MyriadPro-Bold';}
.content-style{color:white}
.chapter-title{letter-spacing:3px;position:absolute;margin-left:60px;top:40px;font-size:22px;font-family:'MyriadPro-Regular';}

.book-title{position:absolute;margin-left:60px;top:50px;font-size:40px;font-family:'HelveticaNeueLTStd-Lt';}
.page2para1{position:absolute;margin-left:350px;top:180px;font-size:22px;font-family:'MyriadPro-Regular';line-height:150%;}
.titlefont{font-family:'MyriadPro-Bold'}
.titlecollection{font-family:'HelveticaNeueLTStd-Lt'}
.page2sec2{position:absolute;margin-left:80px;top:440px;}
.page2sec3{position:absolute;margin-left:80px;top:730px;}
.page2sec5{position:absolute;margin-left:80px;top:760px;font-family:'MyriadPro-Regular'}
.page2sec4{position:absolute;margin-left:90px;top:820px;font-family:'MyriadPro-Regular';}
.page2sec2h2{font-size:25px;line-height:20%;font-family:'MyriadPro-Semibold';font-weight:normal;}
.redcolor{color:#B01120;}
.table{font-family:'MyriadPro-Regular'}
.graycolor{color:#58595a;}
.graycolorPreview{color:#58595a;font-family:'MyriadPro-Regular'}
.para-line-height{line-height:130%;font-family:'MyriadPro-Regular'}

#t22_1 {
position:absolute;
FONT-WEIGHT: bold;
left:130px;
top:840px;
font-family:MyriadPro-Black, MyriadPro-Semi, MyriadPro-Cn;
color:#FFFFFF;
font-size:16px;
}
#t23_1 {
font-family:MyriadPro-Black, MyriadPro-Semi, MyriadPro-Cn;
color:#FFFFFF;
position:absolute;
FONT-WEIGHT: bold;
left:300px;
top:840px;
font-size:16px;


}
#t25_1 {
position:absolute;
FONT-WEIGHT: bold;
left:535px;
top:840px;
font-family:MyriadPro-Black, MyriadPro-Semi, MyriadPro-Cn;
color:#FFFFFF;
font-size:16px;


}
#t26_1 {
font-family:MyriadPro-Bold;
position:absolute;
left:121px;
top:865px;
FONT-SIZE: 15px;



}
#t27_1 {
position:absolute;
left:204px;
top:865px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t28_1 {
position:absolute;
left:484px;
top:850px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t30_1 {
font-family:MyriadPro-Bold;
position:absolute;
left:120px;
top:915px;
FONT-SIZE: 15px;



}
#t31_1 {
position:absolute;
left:204px;
top:900px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t33_1 {
position:absolute;
left:484px;
top:900px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t35_1 {
font-family:MyriadPro-Bold;
position:absolute;
left:124px;
top:960px;
FONT-SIZE: 15px;



}
#t36_1 {
position:absolute;
left:204px;
top:945px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t38_1 {
position:absolute;
left:484px;
top:960px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t39_1 {
font-family:MyriadPro-Bold;
position:absolute;
left:123px;
top:1010px;
FONT-SIZE: 15px;



}
#t40_1 {
position:absolute;
left:204px;
top:1010px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t41_1 {
position:absolute;
left:484px;
top:1010px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t42_1 {
font-family:MyriadPro-Bold;
position:absolute;
left:110px;
top:1040px;
FONT-SIZE: 15px;



}
#t43_1 {
position:absolute;
left:204px;
top:1025px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t45_1 {
position:absolute;
left:484px;
top:1025px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}
#t46_1 {
position:absolute;
left:516px;
top:1133px;
FONT-SIZE: 15px;

color:rgb(0,0,0);
}

.page30fyi{position:absolute;top:330px;left:10px;}
.page30preview{position:absolute;top:475px;left:-30px;}
.page31play{position:absolute;top:260px;left:555px;}
.page31audio{position:absolute;top:685px;left:20px;}
.page31readClose{position:absolute;top:780px;left:20px;}

.page31para1{position:absolute;top:70px;left:250px; font-size:18px;font-family:'MyriadPro-It';color:#58585a;}
.speech{font-family:'MyriadPro-Regular';position:absolute;top:515px;left:120px; font-size:22px;}
.page31para2{font-family:'MyriadPro-Regular';position:absolute;top:600px;left:120px; color:#58585a;font-size:18px;}
.page31para3{position:absolute;top:700px;left:165px; font-size:18px;font-family:'MinionPro-Regular';color:#231f20;}
.page31para4{position:absolute;top:45px;left:-45px;font-family:'MinionPro-Regular';color:#231f20;}
.page31para5{position:absolute;top:765px;left:120px;font-size:18px;font-family:'MinionPro-Regular';color:#231f20;}
.line{position:absolute;top:905px;left:80px;font-family:'MyriadPro-Regular';color:#58585a;}
.dropcapM{font-size:50px;color:#939192;position:absolute;top:695px;left:118px;font-family:'MinionPro-Regular'}
.bluecolor{color:#2E7595;font-family:'MyriadPro-Bold'}

.page32readClose{position:absolute;top:470px;left:10px;}
.page32para1{position:absolute;top:60px;left:140px;font-size:19px;font-family:'MinionPro-Regular';text-indent:20px;line-height:125%;}
.page32line20{position:absolute;top:225px;left:110px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}
.page32para2{position:absolute;top:470px;left:140px;font-size:19px;font-family:'MinionPro-Regular';text-indent:20px;line-height:125%;}
.page32line30{position:absolute;top:498px;left:110px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}
.page32para3{position:absolute;top:730px;left:140px;font-size:19px;font-family:'MinionPro-Regular';text-indent:20px;line-height:125%;}
.page32line40{position:absolute;top:734px;left:110px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}

#page33video1{position:absolute;top:60px;left:60px;font-size:15px;font-family:'MinionPro-Regular';line-height:125%;display:none;width:712px; height:512px;}
.page33play{position:absolute;top:573px;left:0px;}
.page33fig1{position:absolute;top:60px;left:60px;}
/*Vikas*/

.page33figText {
    font-family: 'MyriadPro-Regular';
    font-size: 15px;
    left: 120px;
    line-height: 125%;
    position: absolute;
    top: 575px;
	color:#58585a;
}
.page33fig2{position:absolute;top:560px;left:600px;}
.page33para1{position:absolute;top:640px;left:120px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;}
.page33line50{position:absolute;top:715px;left:90px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}
.page33para2{position:absolute;top:782px;left:120px;font-size:19px;font-family:'MinionPro-Regular';text-indent:20px;line-height:125%;}
.page33line60{position:absolute;top:970px;left:90px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}

.page34para1{position:absolute;top:60px;left:90px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;}
.page34para2{position:absolute;top:155px;left:90px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;text-indent:20px;}
.page34line70{position:absolute;top:205px;left:60px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}
.page34fig1{position:absolute;top:440px;left:-10px;}
.page34block{word-spacing:0px;position:absolute;top:510px;left:85px;font-size:27px;font-family:'MyriadPro-SemiExt';line-height:135%;text-indent:110px;color:#5F438D;}
.page34para3{position:absolute;top:295px;left:90px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;text-indent:20px;}
.page34para4{position:absolute;top:675px;left:90px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;}
.page34line80{position:absolute;top:708px;left:60px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}
.page34para5{position:absolute;top:800px;left:90px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;text-indent:20px;}
.page34line90{position:absolute;top:945px;left:60px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}

.page35para1{position:absolute;top:65px;left:120px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;}
.page35para2{position:absolute;top:255px;left:120px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;text-indent:20px;}
.page35line100{position:absolute;top:258px;left:80px;font-size:17px;font-family:'MyriadPro-Regular';color:#58585a;}
.page35para3{position:absolute;top:420px;left:120px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;text-indent:20px;}
.page35para4{position:absolute;top:610px;left:120px;font-size:19px;font-family:'MinionPro-Regular';line-height:125%;text-indent:20px;}
.page35para5{position:absolute;top:680px;left:90px;font-size:19px;font-family:'MyriadPro-Regular';line-height:125%;color:#58585a;}
.page35para5text{font-family:MyriadPro-Bold}
.page30NumStyle{font-family:MyriadPro-Bold}

p.css-vertical-text_left {
		writing-mode:tb-rl;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
	display:block;
	font-family:'HelveticaNeueLTStd-Lt';
	font-size:8px;
	FONT-WEIGHT: bold;
	color:#939192;
	left:-80px;
	top:790px;
	position:absolute;
}

p.css-vertical-text_right {
  writing-mode:tb-rl;
 -webkit-transform:rotate(270deg);
 -moz-transform:rotate(270deg);
 -o-transform: rotate(270deg);
 color: #939192;
    display: block;
    font-family: 'HelveticaNeueLTStd-Lt';
    font-size: 8px;
    font-weight: bold;
    height: 20px;
    left: 701px;
    position: absolute;
    top: 694px;
    transform: rotate(270deg);
    width: 20px;
}
.background{position:absolute;top:55px;left:115px;font-size:15px;font-family:'MyriadPro-It';}
.blacgroundtext{font-family:'MyriadPro-Bold'}
#author{position:absolute;top:55px;left:550px;}
.authorBanner{font-size:55px;position:absolute;top:230px;left:110px;color:#FFFFFF;Font-Weight:bold;font-family:'MyriadPro-Regular'}
.author{font-size:20px;position:absolute;top:420px;left:110px;font-family:'MyriadPro-Regular'}
.page3para1{font-size:15px;position:absolute;top:500px;left:165px;font-family:'MinionPro-Regular';line-height:175%;}
.page3para2{font-size:15px;position:absolute;top:52px;left:-52px;font-family:'MinionPro-Regular';line-height:175%;}
.dropcap{font-size:50px;color:#939192;position:absolute;top:495px;left:117px;font-family:'MinionPro-Regular';}
.page3para3{font-size:15px;position:absolute;top:670px;left:115px;font-family:'MinionPro-Regular';line-height:175%;text-indent:20px;}
.page3link1{position:absolute;top:485px;left:500px;}
.link2{ left: 489px;
    position: absolute;
    top: 60px;}
.link3{   left: 496px;
    position: absolute;
    top: 61px;}
.link4{position:absolute;top:520px;left:475px;}
.link5{position:absolute;top:729px;left:500px;}
.link6{position:absolute;top:65px;left:480px;}
.line10{position:absolute;top:732px;left:80px;font-size:12px;font-family:'MyriadPro-Bold';color:#939192;}
.figpage1{position:absolute;left:-40px;top:250px;}
.page4para1{font-size:15px;position:absolute;top:60px;left:115px;font-family:'MinionPro-Regular';line-height:175%;text-indent:20px;}
.line20{position:absolute;top:232px;left:80px;font-size:12px;font-family:'MyriadPro-Bold';color:#939192;}
.line30{position:absolute;top:490px;left:80px;font-size:12px;font-family:'MyriadPro-Bold';color:#939192;}

.page5para1{font-size:15px;position:absolute;top:60px;left:115px;font-family:'MinionPro-Regular';line-height:175%;text-indent:20px;}
.line40{position:absolute;top:284px;left:80px;font-size:12px;font-family:'MyriadPro-Bold';color:#939192;}
.page5para2{font-size:15px;position:absolute;top:520px;left:115px;font-family:'MinionPro-Regular';line-height:175%;text-indent:20px;}
.line50{position:absolute;top:555px;left:80px;font-size:12px;font-family:'MyriadPro-Bold';color:#939192;}

.impStyle{position:absolute;top:10px;left:330px;}

.page8author{position:absolute;top:60px;left:-13px;}
.page9note{position:absolute;top:320px;left:-40px;}
.page8para1 {
    font-family: 'MinionPro-Regular';
    font-size: 15px;
    left: 103px;
    line-height: 175%;
    position: absolute;
    top: 531px;
	z-index:2;
}

.page8para2 {
    font-family: 'MinionPro-Regular';
    font-size: 15px;
    left: 103px;
    line-height: 175%;
    position: absolute;
    top: 729px;
	text-indent:20px;
}

.page9para1 {
   font-family: 'MinionPro-Regular';
    font-size: 15px;
    left: 103px;
    line-height: 165%;
    position: absolute;
    top: 67px;
}

.page9para2 {
   font-family: 'MyriadPro-Regular';
    font-size: 14px;
    left: 103px;
    line-height: 140%;
    position: absolute;
    top: 370px;
}

textarea#styled {
	background: none no-repeat scroll right bottom transparent;
    border: none;
    font-family: Tahoma,sans-serif;
    height: 397px;
    left: 103px;
    line-height: 270%;
    padding: 5px;
    position: absolute;
    top: 460px;
    width: 645px;
	resize:none;
	
}

.page9h1 {
  color: #BA1222;
    font-family: 'MyriadPro-Semibold';
    font-size: 18px;
    left: 103px;
    line-height: 165%;
    position: absolute;
    top: 321px;
}


.page8cap{position:absolute;left:100px;top:425px;font-size:13px;font-family:'MyriadPro-Regular'}

.page8num {
	color:#939192;
    font-family: 'MyriadPro-Bold';
    font-size: 10px;
    left: 74px;
    position: absolute;
    top: 792px;
}

.page9num {
	color:#939192;
    font-family: 'MyriadPro-Bold';
    font-size: 10px;
    left: 76px;
    position: absolute;
    top: 271px;
}


a { text-decoration:none; }


/*------------------------------
java-script
---------------------*/
.glossary-style{ Font-Weight:bold; color: black; border-bottom: 1px dotted black;}

.fncolor{color:#476ffe;font-weight:bold;}

.popup {
	
    display: inline-block;
    width: inherit;
    opacity:0; 
    -webkit-transition: opacity 1s;
    z-index: 2;
    -webkit-box-shadow: -10px 10px 10px #888;    
	position:absolute;
}

.popup {
    display: inline-block;
    width: inherit;
    opacity:0; 
    -webkit-transition: opacity 1s;
    z-index: 2;
    -webkit-box-shadow: 5px 5px 5px #888;

}
.show {
    opacity: 1;
}

.triangle-isosceles {
/*	position:relative; */
	padding:15px;
	margin:0 -2.30em 3em;
	color:#000;
	background:#A9A9A9; /* default background for browsers without gradient support */
	
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:#dfddde;
	width:250px;
}

.triangle-isosceles-read {
/*	position:relative; */
	padding:15px;
	margin:0 -2.30em 3em;
	color:#000;
	background:#A9A9A9; /* default background for browsers without gradient support */
	
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:#dfddde;
	width:250px;
	font-family:'MyriadPro-Regular';
}

/* creates triangle */
.triangle-isosceles:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	z-index:-1;
	bottom:-30px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:15px 15px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#dfddde transparent transparent;
}

.triangle-isosceles-read:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	z-index:-1;
	bottom:-30px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:15px 15px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#dfddde transparent transparent;
}

/* Bubble with an isoceles triangle
------------------------------------------ */

.triangle-isosceles.top {
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#dfddde), to(#dfddde));
}

.triangle-isosceles-read.top {
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#dfddde), to(#dfddde));

}


/* creates triangle */
.triangle-isosceles.top:after {
	top:auto; /* value = - border-top-width - border-bottom-width */
	left:30px; /* controls horizontal position - set relative to popup target */
	bottom:-29px;
	right:auto;
	border-color:#dfddde transparent transparent ;
}

.triangle-isosceles-read.top:after {
	top:-29px; /* value = - border-top-width - border-bottom-width */
	left:92px; /* controls horizontal position - set relative to popup target */
	bottom:auto;
	right:auto;
	border-color:transparent transparent #dfddde;
}




.triangle-isosceles-glossary {
/*	position:relative; */
	border-top:30px solid #c9c7c8;
	border-bottom:30px solid #c9c7c8;
	border-left:20px solid #c9c7c8;
	border-right:20px solid #c9c7c8;
	padding:14px;
	margin:-3.5em -2.30em 3em;
	color:#000;
	background:#A9A9A9; /* default background for browsers without gradient support */
	font-family:'MyriadPro-Regular';
	/* css3 */



	/* NOTE: webkit gradient implementation is not as per spec */
	background:#FFFFFF;
	width:250px;
	position:absolute;
}
.triangle-isosceles-glossary:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	z-index:-1;
	bottom:-30px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:15px 15px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#FFFFFF transparent transparent;
}

.triangle-isosceles-glossary.top {
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));

}
.triangle-isosceles-glossary.top:after {
	top:auto; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position - set relative to popup target */
	bottom:-60px;
	right:auto;
	border-color:black transparent transparent ;
}
#impetus-popup{margin-top:-52px;z-index:2}
/*#impairment-popup{margin-top:-74px;}*/
#tedious-popup{margin-top:170px;}

.triangle-isosceles-glossary.top1 {
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));

}
.triangle-isosceles-glossary.top1:after {
	top:-60px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position - set relative to popup target */
	bottom:auto;
	right:auto;
	border-color: transparent transparent black;
}

#fn1-popup{top:-2px;}
.color5{font-family:'MyriadPro-Black'}
#fn01-popup{top:-2px;}
.glossary-title{margin-top:-40px;color:black;font-size:20px;font-weight:bold;font-family:'MyriadPro-Regular'}
#id01-popupread{top:0px;}
.glossary-image{margin-bottom:-45px;margin-left:150px;}
audio{display:none;}
#A1{position:absolute;top:750px;left:50px}
.page3background{font-family: 'MyriadPro-Regular'}

.glossaryMyriadProItalic{font-family: 'MyriadPro-It'}
.glossaryMyriadProSemibold{font-family: 'MyriadPro-Semibold'}

.glossaryMinionProSemibold{font-family: 'MinionPro-Semibold'}


.wrapper {
	position: relative;
}

.t1_3 {
	position: absolute;
	white-space: nowrap;
	overflow: visible;
	left: 37px;
	top: 626px;
	FONT-SIZE: 22px;
	color: rgb(0,0,0);
}

.t2_3 {
	position: absolute;
	white-space: nowrap;
	overflow: visible;
	left: 93px;
	top: 68px;
	FONT-SIZE: 45px;
	color: rgb(0,0,0);
}
.t3_3 {
	position: absolute;
	white-space: nowrap;
	overflow: visible;
	left: 93px;
	top: 141px;
	FONT-SIZE: 45px;
	color: rgb(0,0,0);
}
.t4_3 {
	position: absolute;
	white-space: nowrap;
	overflow: visible;
	left: 93px;
	top: 214px;
	FONT-SIZE: 45px;
	color: rgb(0,0,0);
}
.t5_3 {
	position: absolute;
	white-space: nowrap;
	overflow: visible;
	left: 93px;
	top: 287px;
	FONT-SIZE: 45px;
	color: rgb(0,0,0);
}

#ra_audioHotSpot_txt1 
{
	position: absolute;
	top: 500px;
	left: 90px;
}

#ra_audioHotSpot1, #ra_audioHotSpot2, #ra_audioHotSpot3 {
	top: 25px;
	left: 90px;
}

#pl_audioHotspot1
{
	top: 700px;
	left: 90px;
}

#pl_audioHotspot2
{
	top: 936px;
	left: 90px;
}

.page17-question-heading
{
	position: absolute;top: 360px;left: 22px; font-weight: bold;font-size: 18px;color: #A02422; width: 100%;
}

.page17-quiz-section
{
	position: absolute; top: 420px;  left: 22px;font-size: 14px;
}

.page17-mcq1
{
	min-height: 140px;width: 300px;float: left;margin: 10px;
}

.page17-mcq2
{
	min-height: 140px;  width: 300px;  float: left;margin: 10px;
}

.page17-mcq3
{
	min-height: 190px;  width: 300px;  float: left;    margin: 10px;
}

.page17-mcq4
{
	min-height: 190px;  width: 300px;  float: left;padding: 10px;
}

.page17-mcq5
{
	min-height: 190px;  width: 300px;  float: left;padding: 10px;
}

.page17-mcq6
{
	min-height: 190px;  width: 300px;  float: left;    padding: 10px;
}

.page17-quiz-status
{
	position: absolute;top: -40px;right: 10px;
}

.page18-19-img1
{
	width:100%;
}

.imagegalleryDiv {
	height: 253px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none; 
	position : absolute !important;
	top: 850px !important;   
	left: 118px !important;
}


